<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{styles}}
    </style>
</head>
<body>
    <h1 class="text-center text-uppercase">Привет, {{user}}</h1>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Вам необходимо ознакомится с политикой безопасности!
            </div>
            <div class="card-body">
              <h5 class="card-title">Бла бла!</h5>
              <p class="card-text">{{policy_text}}</p>
              <button type="button" class="btn btn-light" onclick="handleSubmit()">Я принимаю политики безопасности</button>
            <button type="button" class="btn btn-danger" onclick="handleReject()">Отказываюсь</button>
            </div>
          </div>
    </div>

    <script>
        function handleSubmit() {
            window.webkit.messageHandlers.external.postMessage('user_accept_policy');
        }
        function handleReject() {
            window.webkit.messageHandlers.external.postMessage('user_reject_policy');
        }
    </script>
</body>
</html>